body {
  background-color: #005eb8;
  color: white;
  font-size: larger;
}
div {
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}
.forEtsy {
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 3px solid #f1641e;
}
button {
  color: white;
}
.buttonText {
  color: #005eb8;
  font-size: medium;
}
